

*{
margin:0;
padding:0;
box-sizing: border-box;

}

body{
background-color: rgb(255, 255, 255);
}

#welcome-section{
height: 100vh;
width: 100%;
background-image: linear-gradient(#00bf8f, #001510);
background-repeat: no-repeat;
position: relative;
}

.container{
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
}

#navbar ul{
display: flex;
list-style-type: none;
margin-top: 10px;
}

.header-text{
font-size: 20px;
color: blue;
padding: 0;
}


#navbar ul li{
margin-inline: 30px;
position: relative;
}

#navbar ul li a:hover:after{
content: '';
width: 100%;
height: 3px;
position: absolute;
left: 0;
top: 4vh;
background-color: red;

}






#navbar ul li a{
color: rgb(27, 23, 214);
font-weight: bold;
font-size:  20px;
text-decoration: none;
}
.welcome{
position: relative;
top: 40vh;
}
#welcome{

text-align: center;
line-height: 0.9;
font-size: 80px;
}



.icon-del{
display: none;

}
.icon-menu{
position: absolute;
top: 0;
right: 50px;
display:none;
color: blue;
}
    

.body-section{
width: 100%;
background-color: rgb(255, 255, 255);
}


.info-para {
display: flex;
width: 100%;
margin: auto;
}
.my-photo{
width: 225px;
height: 480px;
}
.info-para p{
text-align:  center;
margin-inline: 20px;
font-size:  20px;
width: min(90%, 100%)
}
.info-para h1{
text-align:  center;
color: blue;
}
.skills-sec{
width: 100%;
margin-bottom: 50px;
}
.skills-img-container{
display: flex;
justify-content: center;
width: 90%;
margin: auto;
}

.skills{
display: grid;
grid-template-areas:  
'left left body body right right'
'left left body body right right';
grid-gap: 100px;
}

.skills-head{
margin: 0 0 40px 0;
}

.skills-text{
color: rgb(255, 1, 1);
text-align: center;
}


.skills #img{
width: 200px;
height: 300px;
}



.html{
grid-area: left

}
.html:hover{
transform: scale(1.2);

}
.css{
grid-area: body

}
.css:hover{
transform: scale(1.2);

}
.js{

grid-area: right
}
.js:hover{
transform: scale(1.2);

}

#popUp{


    padding: 10px 30px 0 30px;
    height: 350px;
    font-family: Fatface;
    font-size: 35px;
    width: 50%;
    background-color: white;
    border: 1px solid rgb(255, 0, 0);
    color: rgb(238, 102, 12);
    position: fixed;
    left: 25%;
    top: 30%;
    
    display: none;

}
#popUp h1{
text-align: center;
color: black;
font-size: 20px;
font-weight: bold;
}

.icon-del2{
position: absolute;
right: 0;
top: 0;
color: black;
}

#popUpCSS{


padding: 10px 30px 0 30px;
height: 370px;
font-family: Fatface;
font-size: 35px;
width: 50%;

background-color: white;
border: 1px solid red;
color: rgb(0, 19, 128);
position: fixed;
left: 25%;
top: 30%;

display: none;

}
#popUpCSS h1{
text-align: center;
color: black;
font-size: 20px;
font-weight: bold;
}
.icon-del2css{
position: absolute;
right: 0;
top: 0;
color: black;
}


#popUpJS{


padding: 10px 30px 0 30px;
height: 400px;
font-family: Fatface;
font-size: 35px;
width: 50%;

background-color: white; 
border: 1px solid red;
color: rgb(126, 128, 0);
position: fixed;
left: 25%;
top: 30%;
    
display: none;

}
#popUpJS h1{
text-align: center;
color: black;
font-size: 20px;
font-weight: bold;
}

.icon-del2js{
position: absolute;
right: 0;
top: 0;
color: black;
}
#projects{
    margin: 100px 0 200px 0;
    position: relative;
    height: 100px;
    width: 100%;

}

.project-tile{
position: absolute;
top: 0;
right: 10%;
width: 80vw;
height: 40vh;
border-radius: 30px;
background-color: rgb(15, 15, 78);
transition: right 2s;
}


.project1-img, .project2-img{
position: absolute;
top: 10%;
right: 30px;
width: 500px;
height: 200px;

}
.fa-chevron-left{
    color: rgb(245, 245, 245);
    position: absolute;
    top: 40%;
}


.project1-link, .project2-link{
background-color: rgb(255, 145, 0);
color: rgb(255, 255, 255);
position: absolute;
top: 70%;
left: 15%;
padding: 10px 40px 10px 40px;
font-size: 20px;
font-family: monospace;
text-decoration: none;
z-index: 2;
}

.project1-link:before, .project2-link:before{
content: '';
height: 50px;
width: 90px;
border-radius: 50%;
background-color: rgb(255, 145, 0);
position: absolute;
left: -50px;
top: 0;
z-index: -1;
}
.project1-link::after, .project2-link:after{
content: '';
height: 50px;
width: 90px;
border-radius: 50%;
background-color: rgb(255, 145, 0);
position: absolute;
right: -50px;
top: 0;
z-index: -1;
}
#contacts{
background-color: #086850;
padding-bottom: 30px;
}
#contacts h1{
    color: yellow;
    text-align:  center;
    margin-bottom: 50px;
}
#contacts div{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
#contacts div a{
    margin-left: 30px;
    color: yellow;
}
#contacts div a:hover{
    position: relative;
    top: 20px;
}

@media (min-width: 1450px){
    #navbar ul li a{
        font-size: 50px;
        
        }

        .container{
            
            left: 30%;
            
            }
 .header-text{
    font-size: 50px;
    margin-right: 100%;
 }
}
@media (min-width:  901px) and (max-width: 1050px){
    .info-para h1{
    font-size: 50px;
    margin-bottom: 40px;
     }
    .info-para p{
    font-size: 30px;
    }
    .head-text{
    margin-left: 30px;
    }
    .my-photo{
    display: none;    
    }
    #navbar ul li a{
    font-size: 25px;
    }
    .header-text{
    display: none;
    }
    .skills #img{
    width: 200;
    height: 300px;
    margin-left: 30px;
    }
    #popUp, #popUpCSS, #popUpJS{
    width: 70%;
    height: 400px;
    position: fixed;
    left: 20%;
    top: 50%;
    }
    .font{
    font-size: 40px;   
    }
    #popUpJS{
    height: 500px;
    }
    }
@media (min-width:  551px) and (max-width: 900px){
.container{
left: 20%;
}
.welcome{
top: 30vh;
}
.info-para h1{
font-size: 50px;
margin-bottom: 40px;
}
.info-para p{
font-size: 30px;
}
.my-photo{
display: none;
}
.header-text{
display: none;
}
#navbar ul li a {
font-size: 18px;
}
#navbar ul li{
margin-inline: 30px;
}
#navbar ul li a:hover:after{
left: 0;
top: 2.5vh;
}
.skills{
grid-gap: 60px;
}
.skills #img{
width: 200;
height: 300px;
margin-left:  0;
}
#popUp, #popUpCSS, #popUpJS{
width: 70%;
height: 400px;
position: fixed;
left: 25%;
top: 50%;
}
.font{
font-size: 40px;
}
#popUpJS{
height: 500px;
}


}
@media  (max-width: 350px){

    #navbar ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -3000px;
    top: -10px;
    height: 100vh;
    width: 60vw;
    background-color: white;
    opacity: 0.5;
    transition: 1.5s;
    }
    
    #navbar ul li a{
    font-size: 30px;
    
    }
    #navbar ul li {
    margin-inline: 0;
        
    }
    
    
    #navbar ul li a:hover:after{
    left: 0;
    top: 6vh;
    
    }
    .header-text{
    font-size: 30px;
    
    }
    #welcome{
    font-size: 45px;
    
    }
    .my-photo{
    display: none;
    }
    
    .info-para{
    width: 100%
    }
    .info-para h1{
    font-size: 30px;
    }
    .info-para p{
    font-size: 18px;
    position: relative;
    margin-inline: 0;
    }
       
    .info-para p:before{
    content: '';
    width: 5px;
    height: 100%;
    background-color: green;
    position: absolute;
    left: 0;
    }
           
       
    
    .skills-img-container{
    display: inline;
    }
    .skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .skills-text{
    font-size: 35px;
    }
    
    
    .skills img{
    width: 60%;
    }
    
    
    
    #popUp, #popUpCSS, #popUpJS{
    position: fixed;
    left:0;
    width: 100%;
    
    }
    #popUpJS{
    height: 250px;
    }
    #icon-del{
    position:absolute;
    right:40px;
    top:0;
    z-index: 3;
    color: blue;
    }
    #projects{
        width: 100%;
    }
    .project-tile{
        width: 201px;
        left: 10%;
     }
    .project1-img, .project2-img{
        width: 250px;
    }
    .project1-link, .project2-link{
    top: 37%;
    left: 30%;
    }
    }      
@media  (min-width: 350px) and (max-width: 400px){

#navbar ul{
display: flex;
flex-direction: column;
position: absolute;
right: -3000px;
top: -10px;
height: 100vh;
width: 60vw;
background-color: white;
opacity: 0.5;
transition: 1.5s;
}

#navbar ul li a{
font-size: 30px;

}
#navbar ul li {
margin-inline: 0;
    
}


#navbar ul li a:hover:after{
left: 0;
top: 6vh;

}
.header-text{
font-size: 30px;

}
#welcome{
font-size: 45px;

}
.my-photo{
display: none;
}

.info-para{
width: 100%
}
.info-para h1{
font-size: 30px;
}
.info-para p{
font-size: 18px;
position: relative;
margin-inline: 0;
}
   
.info-para p:before{
content: '';
width: 5px;
height: 100%;
background-color: green;
position: absolute;
left: 0;
}
       
   

.skills-img-container{
display: inline;
}
.skills{
display: flex;
flex-direction: column;
align-items: center;
}

.skills-text{
font-size: 35px;
}


.skills img{
width: 60%;
}



#popUp, #popUpCSS, #popUpJS{
position: fixed;
left:0;
width: 100%;

}
#popUpJS{
height: 250px;
}
#icon-del{
position:absolute;
right:40px;
top:0;
z-index: 3;
color: blue;
}
#projects{
    width: 100%;
}
.project-tile{
    width: 201px;
    left: 16%;
 }
.project1-img, .project2-img{
    width: 250px;
}
.project1-link, .project2-link{
top: 37%;
left: 30%;
}


#contacts h1{
    margin-bottom: 20px;
}
#contacts a{
font-size: 10px;
}
#contacts div a:hover{
position: relative;
top: 20px;
}
}

@media (min-width: 401px) and (max-width: 550px){

    #navbar ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -3000px;
    top: -10px;
    height: 100vh;
    width: 60vw;
    background-color: white;
    opacity: 0.5;
    transition: 1.5s;
    }
    
    #navbar ul li a{
    font-size: 30px;
    
    }
    #navbar ul li {
    margin-inline: 0;
        
    }
    
    
    #navbar ul li a:hover:after{
    left: 0;
    top: 6vh;
    
    }
    .header-text{
    font-size: 30px;
    
    }
    #welcome{
    font-size: 45px;
    
    }
    .my-photo{
    display: none;
    }
    
    .info-para{
    width: 100%
    }
    .info-para h1{
    font-size: 30px;
    }
    .info-para p{
    font-size: 18px;
    position: relative;
    margin-inline: 0;
    }
       
    .info-para p:before{
    content: '';
    width: 5px;
    height: 100%;
    background-color: green;
    position: absolute;
    left: 0;
    }
           
       
    
    .skills-img-container{
    display: inline;
    }
    .skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .skills-text{
    font-size: 35px;
    }
    
    
    .skills img{
    width: 60%;
    }
    
    
    
    #popUp, #popUpCSS, #popUpJS{
    position: fixed;
    left:0;
    width: 100%;
    
    }
    #popUpJS{
    height: 250px;
    }
    #icon-del{
    position:absolute;
    right:40px;
    top:0;
    z-index: 3;
    color: blue;
    }
    #projects{
        width: 100%;
    }
    .project1-img, .project2-img{
        width: 250px;
    }

    .project-tile{
        width: 201px;
        left: 18vw;
     }
     .project1-link, .project2-link{
        top: 37%;
        left: 30%;
        }
        #contacts h1{
            margin-bottom: 20px;
        }
        #contacts a{
        font-size: 10px;
        }
        #contacts div a:hover{
        position: relative;
        top: 20px;
        }
        }

    
    @media  (orientation: landscape) and (max-width: 700px){
    #navbar ul li a:hover:after{
            left: 0;
            top: 6vh;
            
        }
    .container{
     
            left: 0;
            
            }
    .info-para p:before{
    content: '';
    width: 5px;
    height: 1200px;
    background-color: green;
    position: absolute;
    left: 0;
    }
    .project1-link, .project2-link{
    top: 37%;
    left: 30%;
    }
    #project-tile{
    left: 20%;
    }    
    }
@media  (orientation: landscape) and (min-width: 701px) and (max-width: 1000px){
    #navbar ul li a:hover:after{
            left: 0;
            top: 6vh;
            
        }
    .container{
     
            left: 5%
            
            }

.info-para p:before{
content: '';
width: 5px;
height: 1070px;
background-color: green;
position: absolute;
left: 0;
}
.project-tile{
    left: 25%;
}
.project1-link, .project2-link{

 left: 30%;
}
    }
